h1 {
  box-shadow: inset 2px 2px 5px 5px rgba(0, 0, 0, 0.5);
  
}

.container {
  border: solid gray 2px;
}

.container-1 {
  border: solid gray 2px;
}

.class-1 {
  box-shadow: inset 2px 2px 5px 5px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
}

#list-1 {
  box-shadow: inset 2px 2px 5px 5px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
}

#input {
  width: 15em;
  border-radius: 25px;
  height: 2em;
}

#submit {
  width: 15em;
  border-radius: 25px;
  height: 2em;
}

#submit:hover {
  background-color: lightcoral;
  box-shadow: inset 2px 2px 5px 5px rgba(0, 0, 0, 0.5);
  color: aliceblue;
}